{% extends 'base.html.twig' %}

{% block title %}
	{{ artist.nameVariations[0] ?? 'Unknown Artist' }}
{% endblock %}

{% block main %}
	<div class="artist-container">
		<h2>{{ artist.nameVariations.main ?? artist.nameVariations[0] ?? 'Unknown Artist' }}</h2>

		{% if artist.profile %}
			<p>{{ artist.profile }}</p>
		{% endif %}

		{% if artist.images %}
			<ul class="image-list">
				<li>
					<img src="{{ artist.images }}">
				</li>
			</ul>
		{% endif %}
	</div>

{% endblock main %}
