{# discogs/search.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block main %}
    <h1>Search Results</h1>

    {% if results is empty %}
        <p>No results found for the given query.</p>
    {% else %}
        <ul>
            {% for result in results %}
                <li>
                    <h2>{{ result.title }}</h2>
                    <p>Country: {{ result.country }}</p>
                    <p>Year: {{ result.year }}</p>
                    {# Add other properties you want to display #}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
