{% extends 'base.html.twig' %}

{% block title %}Your Lucky Number{% endblock %}

{% block header %}Landing Page{% endblock %}

{% block main %}
    <h1>Your lucky number is {{ number }}</h1>
{% endblock main %}
